body {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    color: white;
}

a {
    color: white;
}

.idea {
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid rgb(8, 0, 0);
}

ol li {
    list-style-type: none;
    counter-increment: item;
}

ol li:before {
    content: counter(item);
    margin-right: 5px;
    font-size: 80%;
    background-color: #f9dd94;
    color: black;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
}

h1 {
    margin: 50px;
    text-align: center;
}

h2 {
    text-align: center;
}